.app {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 60px;
}

@media (max-width: 1000px) {
  .app {
    flex-direction: column;
    margin-left: 0;
    margin-top: 10px;
    padding: 10px 20px;
  }
}
