.app {
  display: flex;
  max-width: 1500px;
  position: relative;
  left: 53%;
  transform: translate(-50%);

}

@media (max-width: 1000px) {
  .app {
    flex-direction: column;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }
}
