.navbar {
  display: flex;
  background-color: #333;
  padding: 30px 20px;
  list-style: none;
}

.navbar a {
  color: #fff;
  margin-right: 1em;
  text-decoration: none;
  transition: 0.3s;
}

.navbar h1 {
  color: #fff;
  margin-right: 1em;
}

.navbar a:hover {
  color: #999;
}
