.aside {
  position: relative;
  text-align: center;
  width: 40%;
  height: 750px;
  padding: 32px;
  background: rgba(30, 30, 219, 0.589);
  border-radius: 5px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0, 0.2);
}

.aside strong {
  font-size: 20px;
  text-align: center;
  display: block;
  color: #333;
}

.aside from {
  margin-top: 30px;
}

.aside label {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.aside strong {
  color: #fff;
  font-size: 24px;
  padding: 15px;
  font-weight: bold;
  display: block;
}

.aside span {
  color: #fff;
  font-size: 14px;
  display: block;
}

.aside img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  .aside {
    width: 100%;
    margin-right: 30px;
  }
}
